* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{ 
    background-color: rgb(191, 158, 221);
}
.dropdown {
    padding: 20px;
    font-size: 20px;
    border: initial;
    }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(36, 35, 35, 0.2);
    z-index: 1;
    text-align: center;
  }
  .dropdown-content a:hover {background-color: rgb(226, 217, 217);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
/* neposjećeni link */
a:link {
    color: rgb(199, 1, 1);
  }
  
  /* posjećeni link */
  a:visited {
    color:rgb(160, 64, 64);
  }
  
  /* miš preko linka */
  a:hover {
    color: rgb(245, 9, 9);
  }
  
  /* odabrani link */
  a:active {
    color: rgb(71, 11, 11);
  }
header{
    border: 5px solid rgb(204, 7, 106);
    padding: 10px;
    margin: 0px;
}
[style]{
    font-style: italic;
    color: rgb(53, 151, 151);
}
section.nas{
    color: rgb(21, 21, 230);
}
main{
    border: 3px solid red;
    padding: 0px;
    margin: 0px;
}
h1,h2,p{
    text-align: center;
}
h2[class="Onama"]{
    color: rgb(157, 65, 65);
    padding: 15px;
}
section.djel{
    text-decoration: underline;
    padding: 15px;
    border: dashed yellow;
    padding: 10px;
}
[href]{
    font-style: italic;
}

#message{
    color: red;
    padding: 15px;
}

.kontaktirajte-nas{
    text-align: center;
    font-style: italic;
    color: rgb(26, 36, 7);
}

section.onama{
    border: dashed orangered;
} 
